USE [master]
GO
/****** Object:  Database [GameDB]    Script Date: 2/7/2017 1:46:16 AM ******/
CREATE DATABASE [GameDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GameDB', FILENAME = N'S:\Santhi\GameDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GameDB_log', FILENAME = N'S:\Santhi\GameDB_log.ldf' , SIZE = 5120KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GameDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GameDB]
GO
/****** Object:  Table [dbo].[Heat]    Script Date: 2/7/2017 1:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Heat](
	[TabId_ID] [int] IDENTITY(1,1) NOT NULL,
	[AC_status] [bit] NULL,
	[Window_status] [bit] NULL,
	[Room_temp_Page4] [int] NULL,
 CONSTRAINT [PK_Heat] PRIMARY KEY CLUSTERED 
(
	[TabId_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_1]    Script Date: 2/7/2017 1:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_1](
	[TabId_ID] [int] NOT NULL,
	[AC_status] [bit] NULL,
	[Window_status] [bit] NULL,
	[Room_temp_Page4] [int] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[TabId_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_2]    Script Date: 2/7/2017 1:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Table_2](
	[Tab2_ID] [int] NOT NULL,
	[Room_temp_Heat] [int] IDENTITY(1,1) NOT NULL,
	[AC_status_heat] [binary](50) NULL,
	[Window_status_heat] [binary](50) NULL,
	[Blinds_status_heat] [binary](50) NULL,
	[Fan_status_heat] [binary](50) NULL,
 CONSTRAINT [PK_Table_2] PRIMARY KEY CLUSTERED 
(
	[Tab2_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Table_3]    Script Date: 2/7/2017 1:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_3](
	[Tab2_ID] [int] NOT NULL,
	[Room_temp_Heat] [int] NOT NULL,
	[AC_status_heat] [bit] NULL,
	[Window_status_heat] [bit] NULL,
	[Blinds_status_heat] [bit] NULL,
	[Fan_status_heat] [bit] NULL,
 CONSTRAINT [PK_Table_3] PRIMARY KEY CLUSTERED 
(
	[Tab2_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_5]    Script Date: 2/7/2017 1:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_5](
	[Tab2_ID] [int] IDENTITY(1,1) NOT NULL,
	[Room_temp_Heat] [int] NOT NULL,
	[AC_status_heat] [bit] NULL,
	[Window_status_heat] [bit] NULL,
	[Blinds_status_heat] [bit] NULL,
	[Fan_status_heat] [bit] NULL,
 CONSTRAINT [PK_Table_5] PRIMARY KEY CLUSTERED 
(
	[Tab2_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_7]    Script Date: 2/7/2017 1:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_7](
	[tab7_ID] [int] IDENTITY(1,1) NOT NULL,
	[room_temp_7] [int] NOT NULL,
 CONSTRAINT [PK_Table_7] PRIMARY KEY CLUSTERED 
(
	[tab7_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_Cold]    Script Date: 2/7/2017 1:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Table_Cold](
	[Tab8_ID] [int] IDENTITY(1,1) NOT NULL,
	[Heat_status_cold] [bit] NULL,
	[Win_ins_status_cold] [bit] NULL,
	[Room_temp_cold] [int] NOT NULL,
	[duct_status_cold] [bit] NULL,
	[caulk_status_cold] [bit] NULL,
 CONSTRAINT [PK_Table_Cold] PRIMARY KEY CLUSTERED 
(
	[Tab8_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Table_Housing]    Script Date: 2/7/2017 1:46:17 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Table_Housing](
	[User_ID] [int] IDENTITY(1,1) NOT NULL,
	[User_name] [varchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Age] [int] NULL,
	[Gender] [varchar](50) NULL,
	[House_type] [varchar](50) NULL,
 CONSTRAINT [PK_Table_Housing] PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
