@model Game_Web_App.Models.Table2

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Heat</title>


    <script src="jquery-2.2.4.min.js"></script>

    <style type="text/css">
        body {
            background: url('../../Content/Images/Random_BG.png')no-repeat center center fixed;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: 100% 100%;
        }

        #myNumber {
            position: absolute;
            top: 1%;
            left: 15%;
            width: 10%;
            border: none;
            background: transparent;
            font-size: 300%;
            color: white;
        }

        #id {
            position: absolute;
            left: 13%;
            top: 13%;
            width: 3%;
            height: auto;
        }

        #id2 {
            position: absolute;
            left: 18%;
            width: 3%;
            top: 13%;
            height: auto;
        }

        #window {
            position: relative;
            top: 31%;
            left: 67%;
        }

        #blind_c {
            position: absolute;
            left: 66.5%;
            top: 36%;
            width: 5%;
            height: 5%;
        }

        #blind_cl {
            position: absolute;
            left: 00px;
            top: 00px;
            width: 350%;
            height: 500%;
        }

        #ac_on {
            position: absolute;
            width: 20%;
            height: 21%;
            top: 30%;
            left: 46.3%;
        }

        #fan_on {
            position: absolute;
            left: 55%;
            top: 0%;
            width: 20%;
            height: 20%;
        }

        .container .img-responsive {
            position: absolute;
            top: 88%;
            left: 13%;
            width: 6%;
            height: 9%;
        }


        input[name=thing1] {
            display: none;
        }

            input[name=thing1] + label {
                position: absolute;
                top: 37%;
                left: 23%;
                background: url('../../Content/Images/heart_grey_sml.png') no-repeat;
                background-size: 50%;
                height: 5%;
                width: 5%;
                display: inline-block;
                padding: 0 0 0 0px;
            }

            input[name=thing1]:checked + label {
                position: absolute;
                top: 37%;
                left: 23%;
                background: url('../../Content/Images/heart_red_big.png') no-repeat;
                background-size: 50%;
                height: 5%;
                width: 5%;
                display: inline-block;
                padding: 0 0 0 0px;
            }

        input[name=thing2] {
            display: none;
        }

            input[name=thing2] + label {
                position: absolute;
                top: 52%;
                left: 23%;
                background: url('../../Content/Images/heart_grey_sml.png') no-repeat;
                background-size: 50%;
                height: 5%;
                width: 5%;
                display: inline-block;
                padding: 0 0 0 0px;
            }

            input[name=thing2]:checked + label {
                position: absolute;
                top: 52%;
                left: 23%;
                background: url('../../Content/Images/heart_red_big.png') no-repeat;
                background-size: 50%;
                height: 5%;
                width: 5%;
                display: inline-block;
                padding: 0 0 0 0px;
            }

        input[name=thing3] {
            display: none;
        }

            input[name=thing3] + label {
                position: absolute;
                top: 67%;
                left: 23%;
                background: url('../../Content/Images/heart_grey_sml.png') no-repeat;
                background-size: 50%;
                height: 5%;
                width: 5%;
                display: inline-block;
                padding: 0 0 0 0px;
            }

            input[name=thing3]:checked + label {
                position: absolute;
                top: 67%;
                left: 23%;
                background: url('../../Content/Images/heart_red_big.png') no-repeat;
                background-size: 50%;
                height: 5%;
                width: 5%;
                display: inline-block;
                padding: 0 0 0 0px;
            }

        input[name=thing4] {
            display: none;
        }

            input[name=thing4] + label {
                position: absolute;
                top: 82%;
                left: 23%;
                background: url('../../Content/Images/heart_grey_sml.png') no-repeat;
                background-size: 50%;
                height: 5%;
                width: 5%;
                display: inline-block;
                padding: 0 0 0 0px;
            }

            input[name=thing4]:checked + label {
                position: absolute;
                top: 82%;
                left: 23%;
                background: url('../../Content/Images/heart_red_big.png') no-repeat;
                background-size: 50%;
                height: 5%;
                width: 5%;
                display: inline-block;
                padding: 0 0 0 0px;
            }
    </style>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

</head>
<body>
    @using (Html.BeginForm("Page6", "Game", FormMethod.Post, new { id = "formapproval" }))
    {

        <div>
            <input type="number" value="70" id="myNumber">
        </div>
        <div>
            <img id="id" src="~/Content/Images/temp_up.png" class="img-fluid" alt="Responsive image" onclick="myFunction()">
            <img id="id2" src="~/Content/Images/temp_down.png" class="img-fluid" alt="Responsive image" onclick="myFunction2()">
        </div>
        <img id="window" src="window_close_1.png" style="display: none;">
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script src="heat.js"></script>
        <div class="form-group">
            <input type='checkbox' class="img-fluid" alt="Responsive image" name='thing1' value='valuable' id="thing1" /><label for="thing1"></label>
        
        </div>
        <div class="form-group">
            <input type='checkbox' class="img-fluid" alt="Responsive image" name='thing2' value='valuable' id="thing2" /><label for="thing2"></label>
        </div>
        <div class="form-group">
            <input type='checkbox' class="img-fluid" alt="Responsive image" name='thing3' value='valuable' id="thing3" /><label for="thing3"></label>
        </div>
        <div class="form-group">
            <input type='checkbox' class="img-fluid" alt="Responsive image" name='thing4' value='valuable' id="thing4" /><label for="thing4"></label>
        </div>



        <div id="windows">
            <img src="b2c741003a90ee23ea7a5ccb04c4198d.png" class="img-fluid" alt="Responsive image" style="visibility:hidden" width="230" height="190">
        </div>
        <div id="windows_o">
            <img src="~/Content/Images/win_open.png" class="img-fluid" alt="Responsive image" style="visibility:hidden">
        </div>
        <div id="blind_c">
            <img id="blind_cl" src="~/Content/Images/plastic_null.png" class="img-fluid" alt="Responsive image">
        </div>
        <div id="ac">
            <img id="ac_on" src="~/Content/Images/plastic_null.png" class="img-fluid" alt="Responsive image" width="280" height="150">
        </div>
        <div id="fan">
            <img id="fan_on" src="~/Content/Images/plastic_null.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="container">
            <input type="image" src="~/Content/Images/set.png" img class="img-responsive" alt="submit" onclick="HeatValues()" />
        </div>
        <script>
            var room_temp = 70;


        function myFunction() {

        document.getElementById("myNumber").stepUp(1);

        }
        function myFunction2() {
        document.getElementById("myNumber").stepDown(1);
        }

        function HeatValues() {

            room_temp = document.getElementById("myNumber").value;

            if ($("#thing1").is(":checked")) {
                 var acCheckbox = 1;
            }
            else {
                var acCheckbox = 0;
            }

            if ($("#thing2").is(":checked")) {
                var windowCheckbox = 1;
            }
            else {
                var windowCheckbox = 0;
            }

            if ($("#thing3").is(":checked")) {
                var blindCheckbox = 1;
            }
            else {
                var blindCheckbox = 0;
            }

            if ($("#thing4").is(":checked")) {
                var fanCheckbox = 1;
                
            }
            else {
                var fanCheckbox = 0;
            }


           // alert("Before ajax");

            $.ajax({
                url: "HeatValues",
                data: JSON.stringify({ room_temp: room_temp, windowCheckbox: windowCheckbox, acCheckbox: acCheckbox, blindCheckbox: blindCheckbox, fanCheckbox: fanCheckbox }),
                contentType: 'application/json',
                type: "POST",
                async: false,
                success: function (data) {

                },
                error: function () {
                }
            });
          //  alert("After Ajax");
        }

        $(document).ready(function () {



        $("input[id='thing1']").change(function() {
        if($(this).is(":checked")){
            $('#ac_on').attr('src', '../../Content/Images/AC_on.png');
        }
        else{
            $('#ac_on').attr('src', '../../Content/Images/plastic_null.png');
        }

        });
        $("input[id='thing2']").change(function() {

        if($(this).is(":checked")){
            $('#blind_cl').attr('src', '../../Content/Images/Open-Windows.png');
        }
        else{
            $('#blind_cl').attr('src', '../../Content/Images/plastic_null.png');
        }


        });
        $("input[id='thing3']").change(function() {
        if($(this).is(":checked") ){

            $('#blind_cl').attr('src', '../../Content/Images/blinds_closed.png');
        }
        else{
            $('#blind_cl').attr('src', '../../Content/Images/plastic_null.png');

        }


        });
        $("input[id='thing4']").change(function() {
        if($(this).is(":checked") ){

            $('#fan_on').attr('src', '../../Content/Images/Fan_view.png');
        }
        else{
            $('#fan_on').attr('src', '../../Content/Images/plastic_null.png');

        }


        });





        $("input[value='valuable']").change(function () {



        var maxAllowed = 2;
        var cnt = $("input[value='valuable']:checked").length;
        if (cnt > maxAllowed) {
        count=1;
        $(this).prop("checked", "");
        alert('You can select maximum ' + maxAllowed + ' options');
        }
        });




    });
        </script>
    }
</body>
</html>
