@model Game_Web_App.Models.table1
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Introduction</title>
    <style>
        body {
            background: url('../../Content/Images/image_cover.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: 100% 100%;
            overflow-y: scroll;
            overflow-x: scroll;
        }


        #first {
            position: absolute;
            top: 20%;
            left: 30%;
        }

        #second {
            position: absolute;
            top: 20%;
            left: 30%;
        }

        #third {
            position: absolute;
            left: 60%;
        }

        #fourth {
            position: absolute;
            width: 102%;
            left:-2%;
            height:122%;
            top: -1270px;
        }

        #fifth {
            position: absolute;
            top: 50%;
            left: 48%;
            height: 40%;
        }

        #sixth {
            position: absolute;
            top: 80%;
            left: 40%;
        }
        #sun{
             position: absolute;
            left: 75%;
            top:-1%;
            width:18%;
            height:24%;
          
        }

        #bg {
            position: absolute;
            width: auto;
            display: block;
            height: 100%;
            float: left;
            top: 0%;
        }

        /*#text{
          position: absolute;
          top: 300px;
          left: 40px;
        }*/

        #myNumber {
            position: absolute;
            top: 25%;
            left: 6%;
            border: none;
            float: left;
            background: transparent;
            font-size: 300%;
            color: white;
        }

        #id {
            position: absolute;
            top: 33%;
            left: 4%;
            height: 8%;
            width: 4%;
        }

        #id2 {
            position: absolute;
            top: 33%;
            left: 8%;
            width: 4%;
            height: 8%;
        }

        #set {
            position: absolute;
            top: 40%;
            left: 5%;
            width: 7%;
            height: 10%;
        }

        #option {
            position: absolute;
            top: 60%;
            left: 30%;
            width: 50%;
            height: 30%;
        }

        /*#ac {
            position: absolute;
            top: 68%;
            left: 37%;
            height: 20%;
            width: 10%;
        }

        #window {
            position: absolute;
            top: 68%;
            left: 60%;
            height: 25%;
            width: 9%;
        }*/

        #closed_window {
            position: absolute;
            top: 25%;
            left: 65%;
            width: 17%;
            height:27%
        }

        #open_window {
            position: absolute;
            top: 25%;
            left: 65%;
            width: 17%;
            height:27%
        }

        #open_status {
            position: absolute;
            top: 60%;
            left: 5%;
        }

        #ac_off {
            position: absolute;
            top: 18%;
            left: 40%;
            width: 23%;
        }

        #ac_on {
            position: absolute;
            top: 18%;
            left: 40%;
            width: 23%;
        }

        #ac_status {
            position: absolute;
            top: 60%;
            left: 3%;
        }

        #next {
            position: absolute;
            top: 75%;
            left: 50%;
            height: 15%;
            width: 7%;
        }

        #aah {
            position: absolute;
            top: 25%;
            left: 28%;
            width: 50%;
            height: 63%;
        }

        input[name=ac] {
            display: none;
        }

            input[name=ac] + label {
                position: absolute;
                top: 32%;
                left: 400px;
                background: url('../../Content/Images/AC_Button.png');
            }

        input[name=window] {
            display: none;
        }

            input[name=window] + label {
                position: absolute;
                top: 82%;
                left: 23%;
                background: url('../../Content/Images/AC_Button.png');
            }
    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="Page4.js"></script>
</head>
<body>
    @using (Html.BeginForm("Heat", "Game", FormMethod.Post, new { id = "formapproval" }))
    {

        <img id="first" src="~/Content/Images/Img_2_sun_mrn.png" />
        <img id="second" src="~/Content/Images/Img_3_o_temp.png">
        <img id="third" src="~/Content/Images/Img_4_out_temp2.png">
        <img class='col-xs-12' id="fourth" src="~/Content/Images/Img_5_too_room.png">
        
        <img id="fifth" src="~/Content/Images/Img_6_too_hot.png">
        <img id="sixth" src="~/Content/Images/Img_7_what_temp.png">
        <img class='image-responsive' id="bg" src="~/Content/Images/Img_8a_set_temp.png">
        <input type = "number" value="70" id="myNumber">
 @* Html.TextBox("model => model.Room_temp_Page4",70, new { @Class = "myNumber"})*@


        <img id="id" src="~/Content/Images/temp_up.png" onclick="myFunction()">

        <img id="id2" src="~/Content/Images/temp_down.png" onclick="myFunction2()">
        <img id="set" src="~/Content/Images/set.png" onclick="Set()" >
        <img id="option" src="~/Content/Images/Img_9_Wnd_or_AC_.png">
        <div class="form-group">
            @* <input type='checkbox' class="img-fluid" alt="Responsive image" name='ac' value='valuable' id="ac" />*@
            <div style="position:relative;top:380px;margin-left:554px;">
                @*@Html.RadioButtonFor(m => m.AC_status, true, new { @class = "Ac" ,id = "acStstus" })*@

            </div>
            <img onclick="Acstatus()" src="~/Content/Images/AC_Button.png" id="ac" style="position:absolute; top:68%; left:37%; height:20%; width:10%; " /> <label for="ac"></label>

        </div>
            <div class="form-group">
                @* <input type='checkbox' class="img-fluid" alt="Responsive image" name='window' value='valuable' id="window" />*@

                 
                <img onclick="Windowstatus()" src="~/Content/Images/Window_button.png" id="window" style="position:absolute; top:65%; left:60%; height:25%; width:9%; " /><label for="window"></label>
            </div>
            @*<div class="form-group">
                    <input type="submit" class="btn btn-block btn-lg btn-primary" value="Submit" style="position:absolute; top:73%; left:75%;background-color:cadetblue  " />
                </div>*@
            <div style="position:relative;top:360px;margin-left:849px;">

                @*@Html.RadioButtonFor(m => m.Window_status, true,new { @class ="window", id="WindowAc"})*@
            </div>
            <img id="closed_window" src="~/Content/Images/window_off.png">
        <img id="ac_off" src="~/Content/Images/AC OFF.png" />

            <img id="open_window" src="~/Content/Images/Open-Windows.png">
            <img id="open_status" src="~/Content/Images/Wndw_open_status.png">
        <img id="ac_on" src="~/Content/Images/AC_on.png" />
            <img id="ac_status" src="~/Content/Images/AC_on_status.png">

            <img id="aah" src="~/Content/Images/Img_12_ahh.png">
            <div>
                <input type="image" src="~/Content/Images/play.png" id="next" alt="submit" style="margin-top:2%;" onclick="@("window.location.href=' " + @Url.Action("Heat", "Game") + " ' "); return" />
            </div>


            <audio id="audio" style="display:none;" src="~/Content/Page_4_room_music.mp3" controls autoplay loop onloadeddata="setHalfVolume()"></audio>


            <script> 
                var room_temp = 70;
                function Set() {
                     
                    room_temp = document.getElementById("myNumber").value;

                }

                function Acstatus() {

                    var windowCheckbox = $('#WindowAc').is(':checked');


                    var acCheckbox = $('#acStstus').is(':checked');


                    windowCheckbox = false;
                    acCheckbox = true;

                   
                    $.ajax({
                        url: "Heating",
                        data: JSON.stringify({ room_temp: room_temp, windowCheckbox: windowCheckbox, acCheckbox: acCheckbox }),
                        contentType: 'application/json',
                        type: "POST",
                        async: false,
                        success: function (data) {

                        },
                        error: function () {
                        }
                    });
                }

                function Windowstatus() {

                    var windowCheckbox = $('#WindowAc').is(':checked');


                    var acCheckbox = $('#acStstus').is(':checked');


                  
                        windowCheckbox = true;
                        acCheckbox = false;



                    $.ajax({
                        url: "Heating",
                        data: JSON.stringify({room_temp: room_temp, windowCheckbox: windowCheckbox, acCheckbox: acCheckbox }),
                        contentType: 'application/json',
                        type: "POST",
                        async: false,
                        success: function (data) {

                        },
                        error: function () {
                        }
                    });
                }
                function myFunction() {
                    
                  
                    document.getElementById("myNumber").stepUp(1);

                    


                }
                function myFunction2() {
                    
                   document.getElementById("myNumber").stepDown(1);
                }
                $(document).ready(function () {
                    $("#first").hide();
                    $("#second").hide();
                    $("#third").hide();
                    $("#fifth").hide();
                    $("#sixth").hide();
                    $("#bg").hide();
                    $("#myNumber").hide();
                    $("#id").hide();
                    $("#id2").hide();
                    $("#set").hide();
                    $("#ac,#window,#option,#open_window,#open_status,#ac_on,#ac_status,#aah,#next,#ac_off,#closed_window").hide();


                    $("#first").fadeIn(6000, function () {   
                        $("#first").delay(500).fadeOut("slow");
                        $("#second").delay(500).fadeIn(6000, function () {
                            $("#second").delay(500).fadeOut("slow");
                            $("#third").fadeIn(2000, function () {

                                var bodyHeight = $('body').height();
                                var footerOffsetTop = $('#fourth').offset().top;
                                var topToBottom = bodyHeight - footerOffsetTop;

                                $('#fourth').css({ top: 'auto', bottom: topToBottom });
                                
                                $("#fourth").delay(1000).animate({
                                    bottom: '00px',
                                }, 3200);
                            
                                
                                $("#ac_off,#closed_window").delay(4000).fadeIn(2000, function () {
                                 

                                   
                                    $("#fifth").delay(1500).fadeIn(800, function () {
                                        
                                        $("#fifth").delay(200).fadeOut("slow");
                                        $("#sixth").delay(1500).fadeIn(6000, function () {
                                            $("#sixth").delay(2000).fadeOut("slow");

                                            $("#bg,#myNumber,#id2,#id,#set").delay(5000).fadeIn(6000, function () {

                                            });

                                        });
                                    });
                                });
                            });
                        });

                    });
                    $("#set").click(function () {

                        $("#option,#window,#ac").delay(200).fadeIn(6000, function () {

                        });


                    });
                    $("#window").click(function () {
                        $("#option,#window,#ac,#set").delay(50).fadeOut("slow");


                        $("#open_window").delay(1000).fadeIn(2000, function () {
                            $("#open_status").delay(1500).fadeIn(2500, function () {
                                $("#aah").delay(1000).fadeIn(2000, function () {
                                    $("#next").delay(1300).fadeIn(2000, function () {

                                    });
                                });

                            });


                        });


                    });
                    $("#ac").click(function () {
                        $("#option,#window,#ac,#set").delay(50).fadeOut("slow");
                        $("#ac_on").delay(1000).fadeIn(2000, function () {
                            $("#ac_status").delay(1000).fadeIn(2500, function () {
                                $("#aah").delay(1000).fadeIn(2000, function () {
                                    $("#next").delay(1300).fadeIn(2000, function () {

                                    });
                                });

                            });

                        });


                    });







                    return false;

                });
            </script>
    }
</body>
</html>
